.message {
    background: white;
    padding: 10px;
    font-family: "Anonymice Powerline";
    border: 2px solid gray;
    border-radius: 4px;


}

.messageBody {
    overflow-y: auto;
    margin-bottom: 5px;
}

.messageFooter button {
    float: right;
    box-sizing: border-box;
}

.clear {
    clear: both;
}